* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

@import url('./assets/css/footer.css');
@import url('./assets/css/header.css');
@import url('./assets/css/login.css');
@import url('./assets/css/dash.css');
@import url('./assets/css/pro.css');

:root {
  --color01:#000000;
  --color02:#00d2ff;
  --color03:#08859d;
  --color04:#0d6fed;
  --color05:#0dcaf0;
  --color06:#12b1d4;
  --color07:#222831;
  --color08:#393e46;
  --color09:#3a7bd5;
  --color10:#684ce6;
  --color11:#854ce6;
  --color12:#9eeaf9;
  --color13:#ff0000;
  --color14:#ffffff;
  --color15:transparent;
}

.password-container {
  position: relative;
}

.toggle-icon {
  position: absolute;
  cursor: pointer;
  font-size: 18px;
  right: 10px;
}